body {
  font-style: Montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-style: Montserrat-Black;
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

/* padding */

.container-fluid {
  padding: 7% 15%;
}

/* heading */
.big-heading {
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 300%;
  48px;
  3rem line-height: 1.5;
}

/* colored-section */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}

/* title section */

#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}
.title-image {
  position: absolute;
  width: 60%;
  right: 30%;
  transform: rotate(25deg);
}

/* nav bar */

.navbar-brand {
  font-style: Ubuntu;
  font-size: 30px;
  font-weight: 600;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* features */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.fas {
  height: 60px;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial*/

#testimonials {
  background-color: #ef8172;

}

.testimonial-text {
  font-size: 300%;
  48px;
  3rem line-height: 1.5;
}

.profile {
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section*/

#pricing {
  padding: 100px;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

.card-height {
  height: 380px;
}

/* @media query */

@media (max-width: 995px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* cta */
#cta {
  font-size: 1.5rem;
}

/* footer section */

.social-icon {
  margin: 20px 10px;
}
